################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/teslastementerprise2026.slnx/FileContentIndex
